﻿
@{
    ViewBag.Title = "Create";
}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page-header start -->
                    <div class="page-header card">
                        <div class="card-block">
                            <h5 class="m-b-10">Create Employee</h5>
                            <p class="text-muted m-b-10">lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            <ul class="breadcrumb-title b-t-default p-t-10">
                                <li class="breadcrumb-item">
                                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Basic Componenets</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Bootstrap Basic Tables</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <!-- Page-body start -->
                    <div class="page-body">
                        <!-- Basic table card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Create Employee</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa-chevron-left"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-times close-card"></i></li>
                                    </ul>
                                </div>
                                <a href="@Url.Action("Index","Home")" class="btn btn-primary">To list</a>

                            </div>
                            <div class="card-block table-border-style">
                                @using (Html.BeginForm("Create","Home"))

                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label>Employee Code</label>
                                        <input name="employee_code" type="text" placeholder="Employee Code" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Name</label>
                                        <input name="name" type="text" placeholder="Employee Name" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Employee Position</label>
                                        <input name="position" type="text" placeholder="Employee Position" class="form-control"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                }
                            </div>
                        </div>
                        <!-- Basic table card end -->
                    </div>
                    <!-- Page-body end -->
                </div>
            </div>
            <!-- Main-body end -->

            <div id="styleSelector">

            </div>
        </div>
    </div>
