﻿@model IEnumerable<LVL2_ASPNet_MVC_02_JEFRYKURNIAWAN.Models.ms_employee>

@{
    ViewBag.Title = "Home Page";
    ViewBag.Code = new { id = 0, name = "" };
    int num_employee = 1;
}




<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        <p class="text-muted m-b-10">lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item">
                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Basic Componenets</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Bootstrap Basic Tables</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Master Employee</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                            <a href="@Url.Action("Create","Home")" class="btn btn-primary">Create</a>

                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Employee Code</th>
                                            <th>Name</th>
                                            <th>Divition</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <th scope="row">@(num_employee++)</th>
                                            <td>@item.employee_code</td>
                                            <td>@item.name</td>
                                            <td>@item.division</td>
                                            <td>@item.salary</td>
                                            <td>
                                                <a class="btn btn-warning" href="@Url.Action("Update","Home", new { id=item.pk_ms_employee_id})">Update</a>
                                                <button type="button" onclick="@{ ViewBag.Code = new { id = item.pk_ms_employee_id, name = item.employee_code }; } " class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-@item.pk_ms_employee_id">Delete</button>
                                            </td>
                                        </tr>
                                            <div id="deleteModal-@item.pk_ms_employee_id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLiveLabel">Confimation</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure, to delete @item.employee_code?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn  btn-secondary" data-dismiss="modal">No</button>
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.pk_ms_employee_id }, new { @class = "btn btn-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        

                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>
</div>
